{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body, html {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../img/cook-background.jpg);
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="text-info">Dashboard</h1>
    <div class="space"></div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="jumbotron">
                <h4>Find all your menus here</h4>
                <p><a href="{{ path('menus_index') }}" target="_blank" class="btn btn-primary" role="button">Follow the
                        link</a></p>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="jumbotron">
                <h4>Find all your dishes here</h4>
                <p><a href="{{ path('dishes_index') }}" target="_blank" class="btn btn-primary" role="button">Follow the
                        link</a></p>
            </div>
        </div>
    </div>
{% endblock %}