<h3>Password reset</h3>

<p>It seems you requested a password reset</p>
<p>Here is your new password : {{ password }}</p>
<p>We strongly recommend you to change it as soon as possible.</p>

<p><b>If you are not at the origin of this request, please do not take care of this email and delete it.</b></p>
