{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 inline-block">
            <h1>Menus</h1>
        </div>
        {% if is_granted('ROLE_EDITOR') %}
            <div class="col-sm-1 pull-right p-t-25 inline-block">
                <a href="{{ url('menus_new') }}" title="New menu" class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add
                </a>
            </div>
        {% endif %}
    </div>

    {% include 'DWBDRistauranteBundle:menu:table.html.twig' %}

{% endblock %}
