{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        span[rel=popover] {
            cursor: zoom-in;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 inline-block">
            <h1>Dishes</h1>
        </div>
        {% if is_granted('ROLE_EDITOR') %}
            <div class="col-sm-1 pull-right p-t-25 inline-block">
                <a href="{{ url('dishes_new') }}" title="New dish" class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add
                </a>
            </div>
        {% endif %}
    </div>

    {% include 'DWBDRistauranteBundle:dish:table.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
		$('span[rel=popover]').popover({
			html: true,
			trigger: 'hover',
			content: function () {
				return '<img src="' + $(this).data('img') + '" class="img-thumbnail" height="250px"/>';
			}
		});
    </script>
{% endblock %}
